<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Empleado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Index.css') }}">
</head>
<body>

    <div class="container.table">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <p class="flash-message">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <h1>Agregar Empleado</h1>
        <form class="contact-form" method="POST" action="/Agregar_Empleado">
            <div class="input-group">
                <label for="Nombre">Nombre</label>
                <input type="text" id="Nombre" name="Nombre" placeholder="Ingrese su nombre" required>
            </div>
            <div class="input-group">
                <label for="RFC">RFC</label>
                <input type="text" id="RFC" name="RFC" placeholder="Ingrese su RFC" required>
            </div>
            <div class="input-group">
                <label for="NSS">NSS</label>
                <input type="text" id="NSS" name="NSS" placeholder="Ingrese su NSS" required>
            </div>
            <div class="input-group">
                <label for="FechaNacimiento">Fecha de Nacimiento</label>
                <input type="date" id="FechaNacimiento" name="FechaNacimiento" required>
            </div>
            <div class="input-group">
                <label for="FechaIngreso">Fecha de Ingreso</label>
                <input type="date" id="FechaIngreso" name="FechaIngreso" required>
            </div>
            <button type="submit" class="btn-submit">Registrar Empleado</button>
        </form>
    </div>

    <a href="/VerEmpleadosRegistrados" class="btn-ver">Ver Empleados Registrados</a>

</body>
</html>
