<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Empleado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Index.css') }}">
</head>
<body>




    <div class="block-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <p class="flash-message">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <h1>Agregar Empleado</h1>
        <form class="contact-form" method="POST" action="/Agregar_Empleado">
          <div class="input-group">
            <label for="sucursal">Sucursal</label>
            <select id="sucursal" name="sucursal_ID" required>{% for sucursal in sucursales %}
              <option value="{{ sucursal.ID }}">{{ sucursal.Nombre }}</option>{% endfor %}</select><br>
          </div>
            <div class="input-group">
                <label for="Nombre">Nombre</label>
                <input type="text" id="Nombre" name="Nombre" placeholder="Ingrese su nombre" required>
            </div>
            <div class="input-group">
                <label for="RFC">RFC</label>
                <input type="text" id="RFC" name="RFC" placeholder="Ingrese su RFC" required>
            </div>
            <div class="input-group">
                <label for="NSS">NSS</label>
                <input type="text" id="NSS" name="NSS" placeholder="Ingrese su NSS" required>
            </div>
            <div class="input-group">
              <label for="colonia">Colonia</label>
              <select id="colonia" name="colonia_ID">{% for colonia in colonias %}
                <option value="{{ colonia.ID }}">{{ colonia.Colonia }}</option>{% endfor %}</select><br>
            </div>
            <div class="input-group">
                <label for="FechaNacimiento">Fecha de Nacimiento</label>
                <input type="date" id="FechaNacimiento" name="FechaNacimiento" required>
            </div>
            <div class="input-group">
                <label for="FechaIngreso">Fecha de Ingreso</label>
                <input type="date" id="FechaIngreso" name="FechaIngreso" required>
            </div>

            <button type="submit" class="btn-submit">Registrar Empleado</button>

        </form>
    </div>

    <!--########################################## Barra Superior ##########################################-->
    <div class="top-container">

      <div class="title-container">
        <h1>EuphorbiaST</h1>
      </div>

<div class="top-btn">
      <a href="/" class="btn">Inicio</a>
</div>

  <!-- lOGICA PARA SABER SI ES ADMIN O USUARIO -->
  {% if modo == 'Admin'%}
  <form action="/VerEmpleadosRegistrados" method="post">
      <input type="hidden" name="modo" value="Admin">
      <div class="top-btn">
      <input type="submit" value="Empleados" class="btn">
      </div>
  </form>
  <form action="/Index" class="top-btn" method="post">
    <input type="hidden" name="modo" value="User">
    <input type="submit" value="Entrada" class="btn">
  </form>
  {% else %}
  <form action="/VerEmpleadosRegistrados" method="post">
      <input type="hidden" name="modo" value="User">
      <div class="top-btn">
      <input type="submit" value="Empleados" class="btn">
      </div>
  </form>
  <form action="/Index" class="top-btn" method="post">
    <input type="hidden" name="modo" value="Admin">
    <input type="submit" value="Entrada" class="btn">
  </form>
  {% endif %}

  </div>
    <!--########################################## Barra Superior ##########################################-->

</body>
</html>
